#  Logistik Regession

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV

In [7]:
df = pd.read_csv('[BRI] Loan Eligibility Train Data.csv', low_memory = False)
df.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N

In [ ]:
predictors = df.columns[1:-1]
predictors_onehot = df.columns[1:3]
predictors_num = df.columns[3:-1]
X = df[predictors]
X_onehot = df[predictors_onehot]
X_num = df[predictors_num]

In [ ]:
from sklearn.preprocessing import StandardScaler
pt = StandardScaler()
X_num = pd.DataFrame(pt.fit_transform(X_num))
X_num.head()

In [ ]:
X_onehot =  pd.get_dumies(X_onehot, columns = predictors_onehot)
X_onehot.head()

In [ ]:
X = pd.concat([X_onehot, X_num], axis = 1)
X.head()

In [ ]:
df_val = pd.read_csv('Data.csv', low_memory = False)
df_val.head()

## Model Regresi Logistik

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, stratify=y, random_state=42)

In [ ]:
from sklearn.model_selection import RandomizadSearchCV

In [ ]:
penalty = ['l2']
tol = [0.001, 0.0001, 0.00001]
C = [100, 10, 1, 0.1, 0.01, 0.001]
fit_intercept = [True, False]
intercept_scaling = [1, 0.75, 0.5, 0.25]
class_weigh = ['balance', None]
solver = ['newton-cg','sag','lbgfs','saga']
max_iter = [100]
param_distributions = dict(penalty=penalty, tol=tol, C=C,fit_intercept= fit intercept, intercept_scaling=intercept_scaling,  class_weigh=class_weigh, solver= solver, max_iter=max_iter)

In [ ]:
import time

logreg = LogisticRegression()
grid =  Randomizedsearchcv( estimator=logreg,param_distributions=param_distributions, scoring = 'recall', cv = 3, n_jobs= -1 )

start_time = time.time()
grid_result = grid.fit(X_train,y_train)

# Summerize result
print("Best : %f using %s" % (grid_result.best_score_, grid_result.best_params_))
print("Execution time: " + str((time.time()- start_time)) + ' s')

## Akurasi Total

In [ ]:
y_pred = grid.predict(X_train)

In [ ]:
from sklearn import metrics
print("Accuraxy:", metrics.accuracy_score(y_test, y_pred))
print("Precision:", metrics.precision_score(y_test, y_pred))
print("Recall:", metrics.recall_score(y_test, y_pred))
metrics.completness_score

In [ ]:
y_pred_val = grid.predict(X_val)

In [ ]:
from sklearn import metrics
print("Accuraxy:", metrics.accuracy_score(y_val, y_pred_val))
print("Precision:", metrics.precision_score(y_val, y_pred_val))
print("Recall:", metrics.recall_score(y_val, y_pred_val))
metrics.completness_score